* {
    margin: 0;
    padding: 0;
    }
html{
    height: 100%;
    margin: 0;
}
body{
    height: 100%;
}
*:first-child{margin-top:0;}
*:last-child{margin-bottom:0;}
a {
    text-decoration: none;
  }
 
  .router-link-active {
    text-decoration: none;
  }
 